<form action="/sessions" method="post">
  <p>
    <input type="text" name="weight" placeholder="Guess Jasper's weight..."/> lbs
  </p>
  <p>
    <input type="submit" value="Store my weight guess for Jasper"/>
  </p>

</form>